:root{

--bg-color-black-100: #1C1E23;
--bg-color-black-80: rgba(28, 30, 35, 0.8);
--bg-color-white-100: #fefefe;
--text-color-white-100: #fefefe;
--text-color-black-100: #1c1e23;
--text-color-gray-100: #70727e;
--button-primary-color: #FF1054;
--button-secondary-color: #007c79;
--button-tertiary-color: #a3a6b4;
--header-size-small: 35px;
--subheader-size-small: 25px;
--paragraph-size-small: 16px;
--header-size-large: 60px;
--subheader-size-large: 36px;
--paragraph-size-large: 18px;
--padding-size-xxlarge: 5.5rem;
--padding-size-xlarge: 3.75rem;
--padding-size-large: 2.5rem;
--padding-size-medium: 1.25rem;
--padding-size-small: 0.6rem;
--padding-size-xsmall: 0.3rem;
--gap-size-large: 2.5rem;
--gap-size-medium: 1.25rem;
--gap-size-small: 0.6rem;
--border-radius-button:1.5rem;
--border-size-button: 0.15rem;
--border-radius-form: 1rem;

}

@font-face {
    font-family: "Header";
    src: url("public/font/camptonextrabold-webfont.woff2");
}

@font-face {
    font-family: "Subheader";
    src: url("public/font/camptonmedium-webfont.woff2");
}

@font-face {
    font-family: "Paragraph";
    src: url("public/font/camptonbook-webfont.woff2");
}

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-white-100);
    font-family: "Paragraph";
    font-size: var(--paragraph-size);
  }

  /*Animista animationer*/



  .scale-up-center:hover {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  


  
  

