---
import "../styles/globalstyle.css";
---

<button>
    <p>Støt</p>
</button>

<style>
button{
    color: var(--text-color-white-100);
    background-color: var(--button-primary-color);
    border-radius: var(--border-radius-button);
    padding-inline: var(--padding-size-medium);
    font-family: "Paragraph";
    font-size: var(--paragraph-size-small);
    border: none;
    justify-content: ;
}
    
</style>