---
import "../styles/globalstyle.css";
---

<section class="mobile">
    <div class="padding">
        <div>
            <img src="/pictures/Logowebsite.webp" alt="logo single use">
        </div>
        <div >
            <div>
                <p>
                    Kom med os og støt om #SingleUseSucks på vores sociale medier!
                </p>
            </div>
            <div class="some">
                <a href="https://www.facebook.com/plasticchange/"><img src="/icons/facebook.svg" alt="facebook link"></a>
                <a href="https://twitter.com/plasticchange"><img src="/icons/twitter.svg" alt="twitter link"></a>
                <a href="https://www.linkedin.com/company/plastic-change/"><img src="/icons/linkedin.svg" alt="linkedin link"></a>
                <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"><img src="/icons/youtube.svg" alt="youtube link"></a>
                <a href="https://www.instagram.com/plasticchange"><img src="/icons/instagram.svg" alt="instagram link"></a>
            </div>
        </div>
        <div class="praktisk">
            <div>
                <p>
                    Mail: info@plasticchange.org
                </p>
            </div>
            <div>
                <p>
                    Tlf: +45 42 66 72 46 
                </p>
            </div>
            <div>
                <p>
                    Telefon åben Mandag - Fredag
                </p>
                <p>
                    10:00-15:00
                </p>
            </div>
        </div>
    </div>
    <div class="bottles">
        <img src="/pictures/plastikbottles.webp" alt="plastic bottles decorations">
    </div>
</section>


<section class="website">
    <div class="grid">
        <div>
            <img src="/pictures/Logowebsite.webp" alt="logo single use">
        </div>
        <div class="praktisk">
            <div>
                <p>
                    Mail: info@plasticchange.org
                </p>
            </div>
            <div>
                <p>
                    Tlf: +45 42 66 72 46 
                </p>
            </div>
            <div>
                <p>
                    Telefon åben Mandag - Fredag
                </p>
                <p>
                    10:00-15:00
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>
                    Kom med os og støt om #SingleUseSucks på vores sociale medier!
                </p>
            </div>
            <div class="some">
                <a href="https://www.facebook.com/plasticchange/"><img src="/icons/facebook.svg" alt="facebook link"></a>
                <a href="https://twitter.com/plasticchange"><img src="/icons/twitter.svg" alt="twitter link"></a>
                <a href="https://www.linkedin.com/company/plastic-change/"><img src="/icons/linkedin.svg" alt="linkedin link"></a>
                <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"><img src="/icons/youtube.svg" alt="youtube link"></a>
                <a href="https://www.instagram.com/plasticchange"><img src="/icons/instagram.svg" alt="instagram link"></a>
            </div>
        </div>
    </div>
    <div class="bottles">
        <img src="/pictures/plastikbottles.webp" alt=" plastic bottles decorations">
    </div>
</section>

<style>
.website{
    display: none;
}

.mobile{
    background-color: var(--bg-color-black-100);
    background-size: contain;
    background-repeat: no-repeat;
}

.some{
    display: flex;
    flex-flow: row wrap;
    padding-block: var(--padding-size-medium);
    align-items: end;
}

.some a{
    padding-inline: var(--padding-size-small);
}

.some img{
    width: 100%;
    height: auto;
}
.praktisk div{
    padding-block: var(--padding-size-xsmall);
}

p, a{
    color: var(--text-color-white-100);
    text-decoration:none;
}

.padding{
    padding: var(--padding-size-large);
}

.bottles img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 640px){
    .website{
    background-color: var(--bg-color-black-100);
    display: block;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: var(--padding-size-xlarge);
    padding-inline: var(--padding-size-xxlarge);
}
.mobile{
    display: none;
}
}

</style>