---
import "../styles/globalstyle.css";
import Button from "../components/Button.astro";
---

<section class="mobile"> 
    <div>
        <img src="public/pictures/Logomobile.webp" alt="logo single use sucks">
    </div>
    <div class="centeralign">
        <a href="">Hvad kan du gøre?</a>
    </div>
    <div>
        <Button variant="primary"
        icon="public/icons/hjerte.svg">
            Støt nu</Button>
    </div>
</section>

<section class="website"> 
    <div>
        <img src="public/pictures/Logowebsite.webp" alt="logo single use sucks">
    </div>
        <div class="group">
            <div class="centeralign">
                <a href="">Hvad kan du gøre?</a>
            </div>
            <div>
                <Button variant="primary"
                icon="public/icons/hjerte.svg">
                Støt nu </Button>
            </div>
        </div>
</section>

<style>
.website{
    display: none;
}

.mobile{
    background-color: var(--bg-color-black-100), 0.8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.centeralign{
    display: flex;
    align-items:center;
}

div{
    margin: var(--padding-size-medium);
}

img{
    width: 100%;
}

a{
    color: var(--text-color-white-100);
    text-decoration: none;
}

a:hover{
    color: var(--text-color-white-100);
    text-decoration: underline;
}


@media screen and (min-width: 640px){
    .website{
    background-color: var(--bg-color-black-100), 0.8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.group{
    display: flex;
    flex-flow: row wrap;
}

.mobile{
    display: none;
}
}

</style>