---
import "../styles/globalstyle.css";
import Button from "../components/Button.astro"
---

<section>
    <div class="content">
        <h2>
            Vi kan ikke løse verdnes problemer alene.
        </h2>
        <p>
            <strong>Skal du være med?</strong>
        </p>
        <p>
            Bliv en del af Plastic Change og vær med til at gøre en forskel for vores miljø.
        </p>
        <div>
            <Button variant="secondary">Hvad kan du være?</Button>
            <Button variant="primary"
            icon="public/icons/hjerte.svg">Støt</Button>
        </div>
    </div>
</section>


<style>

section{
    background-image: url("public/pictures/skilpadde2.webp");
    background-size: cover;
    background-position: center;
    padding: var(--padding-size-xlarge);
}
.content {
    background-color: var(--bg-color-black-80);
    color: var(--text-color-white-100);
    padding: var(--padding-size-medium);
}

img{
    width: 100%;
}

/*FONT*/
h1{
    font-family: "Header";
    font-size: var(--header-size-small);
}

h2{
    font-family: "Subheader";
    font-size: var(--subheader-size-small);
}

p, a{
    font-family: "Paragraph";
    font-size: var(--paragraph-size-small);
}

@media screen and (min-width: 640px){
section{
    background-image: url("public/pictures/skilpadde2.webp");
    background-size: cover;
    background-position: center;
    padding: 10%;
}
.content {
    background-color: var(--bg-color-black-80);
    color: var(--text-color-white-100);
    padding: var(--padding-size-large);
    margin: auto;
    width: 50%;
}

img{
    width: 100%;
}

/*FONT*/
h1{
    font-family: "Header";
    font-size: var(--header-size-large);
}

h2{
    font-family: "Subheader";
    font-size: var(--subheader-size-large);
}

p, a{
    font-family: "Paragraph";
    font-size: var(--paragraph-size-large);
}
}
</style>